{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "パスワード再設定" %}{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
      <h1>{% trans "パスワード再設定" %}</h1>
  
      <p>{% blocktrans %}パスワードをお忘れの方 パスワードをリセットするための電子メールを送信します。</a>{% endblocktrans %}</p>
    </div>
</div>
<div class="row justify-content-center" style="margin-left: 0px; margin-right: 0px;">
    <div class="col-md-6 col-sm-12">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="d-grid gap-2">
          <button class="mt-3 btn btn-danger btn-block" type="submit">{% trans "送信" %} &raquo;</button>
        </div>
        <p>{% blocktrans %}パスワードの再設定がうまくいかない場合は、管理者までご連絡ください。{% endblocktrans %}</p> 
      </form>
    </div>
 </div>
    <!-- <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    <div class="d-grid gap-2">
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>
    </div>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p> -->
{% endblock %}
