{% extends 'social/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  * {
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
  }

  body {
    background-color: #dadada;
  }
</style>

<body>
  <header>
    <div class="header-center mx-auto">
      <i class="fa-solid fa-house"></i>
    </div>
    <div class="header-right">
      <a href="{% url 'profile' user.profile.pk %}">プロフィール</a>
      <a href="{% url 'account_logout' %}">ログアウト</a>
    </div>
  </header>
  <main>
    <div class="left-column">
      <div class="following">
          <a href="{% url 'post-list' %}" class="btn btn-dark">⇦戻る</a>
      </div>
    </div>

    <div class="center-column">
      <div class="post">

      <div class="post-header">
        <img src="{{ post.author.profile.picture.url }}" alt="Profile picture" />
        <div class="container">
          <div class="row justify-content-left mt-3">
            <div class="col-md-700 col-sm-50  border-bottom">
              <p>
              <strong>{{ post.author }}: </strong>{{ post.created_on }}
              {% if request.user == post.author %}
              <span style="display:flex ;float: right;">
                <a href="{% url 'post-edit' post.pk %}" style="color: #333;"><i class="fa fa-edit"></i></a>
                <a href="{% url 'post-delete' post.pk %}" style="color: #333;"><i class="fa-solid fa-trash"></i></a>
              </span>
              {% endif %}
            </p>
            </div>
          </div>
        </div>
      </div>

      <div class="post-content">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="postimage" style="max-width: 100%; height: auto; border-radius: 20px">
        {% endif %}
        <p>{{ post.body|linebreaksbr }}</p>
                  <div class="post-info" style="justify-content: space-between;">
                {% csrf_token %}
                <span class="comments">{{ post.likes.all.count }} いいね！</span>
                <!-- <span class="likes">{{ post.dislikes.all.count }} dislikes</span> -->
            <span class="comments">コメント{{ post.comments.count }} 件</span>
          </div>

        <form method="POST" action="{% url 'like' post.pk %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          <button style="border: none; box-shadow: none; color: blue;" type="submit"><i class="far fa-thumbs-up">いいね！</i>
          </button>
        </form>

      <div class="row justify-content-center mt- 3 mb-5">
        <div class="border-botton" style="margin-bottom: 20px">
          <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="d-grid grap-2">
              <button class="btn btn-primary mt-3"">コメントする</button>
            </div>
          </form>
        </div>
      </div>

      
      
        {% for comment in comments %}
        <div class="comment-container">
            <div>
              <p>
                <strong>{{ comment.author }}</strong> {{ comment.created_on }} 
                {% if request.user == comment.author %}
                <a href="{% url 'comment-delete' post.pk comment.pk %}" style="color: #333;display:flex ;float: right;"><i
                    class="fas fa-trash"></i></a>
                {% endif %}
              </p>
              <p>{{ comment.comment|linebreaksbr }}</p>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
    <!-- Right column      -->
    <!-- <div class="right-column">
      <div class="suggested-friends">
        <h2>Suggested Friends</h2>
        <ul>
          <li>
            <img src="https://i.kym-cdn.com/photos/images/facebook/002/517/014/e60.jpg" alt="Profile picture" />
            <p>User 1</p>
          </li>
          <li>
            <img src="https://i.kym-cdn.com/photos/images/facebook/002/517/014/e60.jpg" alt="Profile picture" />
            <p>User 2</p>
          </li>
          <li>
            <img src="https://i.kym-cdn.com/photos/images/facebook/002/517/014/e60.jpg" alt="Profile picture" />
            <p>User 3</p>
          </li>
        </ul>
      </div>
      <div class="group">
        <h2>Group</h2>
        <p>Your friend group!</p>
        <img src="https://via.placeholder.com/150x100" alt="App ad" />
      </div>
    </div> -->
  </main>
</body>
<footer style="background-color: #2d97dd;">
  <p>WebApp</p>
</footer>
{% endblock content %}