{% extends 'social/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    * {
        box-sizing: border-box;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
    }

    body {
        background-color: #dadada;
    }
    input[type="text"],.form-control{
        border: 3px solid #555;
        width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
    }
</style>

<body>
    <header>
        <div class="header-center mx-auto">
            <i class="fa-solid fa-house"></i>
        </div>
        <div class="header-right">
            <a href="{% url 'profile' user.profile.pk %}">プロフィール</a>
            <a href="{% url 'account_logout' %}">ログアウト</a>
        </div>
    </header>
    <main>
        <div class="left-column">
            <div class="following">
                <a href="{% url 'profile' object.pk %}" class="btn btn-dark">プロフィールに戻る</a>
            </div>
        </div>

        <div class="center-column">
            <div class="post" >
            <div class="row justify-content-center mt- 3 mb-5 " style="border-radius: 50px;">
                <div class="border-botton" style="margin-bottom: 20px">
                    <form method="POST" , enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <img src="{{ user.profile.picture.url }}" alt="Profile picture" />
                        <div class="d-grid grap-2">
                            <button class="btn btn-success mt-3">更新する</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </main>
</body>
<footer style="background-color: #2d97dd;">
    <p>WebApp</p>
</footer>
{% endblock content %}